body {
    @apply bg-gray-100;
}

body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background-color: #c0c0c0;
    width: 6px;
    border-radius: 16px !important;
}
body::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 16px;
    width: 50px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #5d5d5d;
}
.card-min-height {
    min-height: 150px;
}